<section class="w-full flex flex-col md:hidden px-5 z-10 mb-5">
  <div class="relative">
    <h1 class="text-6xl leading-tight mt-20 font-bold uppercase font-fugaz tracking-tight">
      Core Nexus<br /> Five
    </h1>
  </div>
  
  <p class="text-xl pt-4 font-semibold uppercase text-neutral-700">
    Proyecto Final AWS Re/Start
  </p>

  <p class="text-base pt-2 italic text-neutral-500 font-light">
    El nexo entre la infraestructura y la analítica de datos.
  </p>

  <a 
    href="https://nievesperez-data.github.io/" 
    target="_blank"
    class="text-lg font-medium border-b-2 border-black pb-1 mt-4 w-fit"
  >
    Nieves Pérez
  </a>
</section>
