<section class="w-full flex flex-col md:hidden px-5 z-10 mb-10">
  <div class="relative">
    <h1 class="text-7xl leading-22 mt-20 font-semibold relative inline-block">
      Core Nexus<br /> Five
    </h1>
  </div>
  
  <p class="text-5xl text-right max-w-72 self-end pt-10 leading-15">
    Photos by Unsplash
  </p>

  <div class="mt-16 flex flex-col items-center gap-6 border-t border-black/10 pt-8 w-full">
    <span class="text-xs uppercase tracking-widest text-neutral-400 font-medium rotate-0">
      CRADLE & CONTEXT
    </span>
    
    <div class="flex items-center justify-center gap-5">
      <a href="https://nievesperez-data.github.io/" target="_blank" class="block bg-white p-3 rounded-2xl shadow-md border border-neutral-100 active:scale-95 transition-transform">
        <img src="/adalab-logo.png" alt="Adalab" class="h-8 w-auto object-contain" />
      </a>

      <a href="https://nievesperez-data.github.io/" target="_blank" class="block bg-white p-3 rounded-2xl shadow-md border border-neutral-100 active:scale-95 transition-transform">
        <img src="/aws-restart-logo.png" alt="AWS Graduate" class="h-8 w-auto object-contain" />
      </a>
    </div>
  </div>
</section>
