<section class="w-full flex flex-col md:hidden px-5 z-10 mb-10">
  <div class="relative">
    <h1 class="text-6xl leading-tight mt-20 font-bold uppercase font-fugaz tracking-tight">
      Core Nexus<br /> Five
    </h1>
  </div>
  
  <p class="text-xl pt-4 font-semibold uppercase text-neutral-700">
    Proyecto Final AWS Re/Start
  </p>

  <p class="text-base pt-2 italic text-neutral-500 font-light">
    El nexo entre la infraestructura y la analítica de datos.
  </p>

  <a 
    href="https://nievesperez-data.github.io/" 
    target="_blank"
    class="text-lg font-medium border-b-2 border-black pb-1 mt-4 w-fit"
  >
    Nieves Pérez
  </a>

  <div class="mt-12 flex flex-col items-center gap-4 border-t border-black/10 pt-6 w-full">
    <span class="text-[10px] uppercase tracking-widest text-neutral-400 font-bold">
      CRADLE & CONTEXT
    </span>
    
    <div class="flex items-center justify-center gap-6 mt-2">
      <a href="https://nievesperez-data.github.io/" target="_blank" class="block bg-white p-3 rounded-2xl shadow-md border border-neutral-100 active:scale-95 transition-transform">
        <img src="/adalab-logo.png" alt="Adalab" class="h-8 w-auto object-contain" />
      </a>

      <a href="https://nievesperez-data.github.io/" target="_blank" class="block bg-white p-3 rounded-2xl shadow-md border border-neutral-100 active:scale-95 transition-transform">
        <img src="/aws-restart-logo.png" alt="AWS Graduate" class="h-8 w-auto object-contain" />
      </a>
    </div>
  </div>
</section>
